<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927691291518-ujpvm7m9u18i6v151kjovotkkm3k74m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927691291518-ujpvm7m9u18i6v151kjovotkkm3k74m4</string>
	<key>API_KEY</key>
	<string>AIzaSyCIRE2bBtNt4wF2XsK8PIzbTq_6U-3MhF4</string>
	<key>GCM_SENDER_ID</key>
	<string>927691291518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.projectXmobile</string>
	<key>PROJECT_ID</key>
	<string>project-x-84613</string>
	<key>STORAGE_BUCKET</key>
	<string>project-x-84613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927691291518:ios:9874ba563fd6c12be5512f</string>
</dict>
</plist>